<!DOCTYPE html>
<html lang="de-de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
</head>
<body>
<div class="hero is-primary has-text-centered">
    <div class="hero-body">
        <p class="title">
            Football Manager
        </p>
    </div>
</div>
<br>

<!--Form for team creation-->
<div class="container has-text-centered">
    <div class="notification is-primary">
<form th:action="createteam" th:method="post">
    <label>Name of the Team:</label>
    <input class="input" th:type="textarea" th:name="name">
    <br>
    <label>Country:</label>
    <input class="input" th:type="textarea" th:name="country">
    <br><br>
    <button class="is-primary">Send Team</button>
</form>
        </div>
    </div>

<br><br><br><br>
<!--Form for player creation-->
<div class="container has-text-centered">
    <div class="notification is-primary">
<form th:action="createplayer" th:method="post">
    <label>Name of the Player:</label>
    <input class="input" th:type="textarea" th:name="namePL">
    <br>
    <label>Jersey Number:</label>
    <input class="input" th:type="textarea" th:name="jerseyNumbr">
    <br>
    <label>Lifetime Goals:</label>
    <input class="input" th:type="textarea" th:name="lifetimeGoals">
    <br><br>
    <button class="is-primary">Send Player</button>
    </form>
        <br>
        <br>
        <form th:action="deleteplayer" th:method="post">
        <label>ID of player that should be deleted:</label>
        <input class="input" th:type="textarea" th:name="id">
            <br><br>
        <button class="is-primary">Delete Player</button>
    </form>

    </form>
        <br>
        <br>
    <form th:action="updateplayer" th:method="post">
            <label>ID of player that should be updated</label>
            <input class="input" th:type="textarea" th:name="id">
            <label>Jersey Number:</label>
            <input class="input" th:type="textarea" th:name="jerseyNumbr">
            <br>
            <label>Lifetime Goals:</label>
            <input class="input" th:type="textarea" th:name="lifetimeGoals">
            <br><br>
            <button class="is-primary">Update Player</button>
    </form>
    </div>
</div>
<br>
<br>
<br>
<div class="has-text-centered">
    <h2 class="subtitle">Existing Teams</h2>
</div>
<br>
<br>

    <table class="table is-bordered is-striped is-narrow is-hoverable has-text-centered is-fullwidth">
        <tr><th>Nr.</th><th>Team Name</th><th>Country</th>></tr>
        <tr th:each="team:${teams}">
            <td th:text="${team.id}"></td>
            <td th:text="${team.name}"></td>
            <td th:text="${team.country}"></td>
        </tr>
    </table>
<br>
<br>
<br>
<div class="has-text-centered">
    <h2 class="subtitle">Existing Players</h2>
</div>
<br>
<br>
<p>
<table class="table is-bordered is-striped is-narrow is-hoverable has-text-centered is-fullwidth">
    <tr><th>Nr.</th><th>Name</th><th>Jersey Number</th><th>Lifetime Goals</th></tr>
    <tr th:each="player:${players}">
        <td th:text="${player.idPL}"></td>
        <td th:text="${player.namePL}"></td>
        <td th:text="${player.jerseyNumbr}"></td>
        <td th:text="${player.lifetimeGoals}"></td>
    </tr>
</table>
</p>
</body>
</html>